.myNavFull {
	bottom: 0;
	z-index: 10;
	width: 100%;
	align-items: center; /* Aligns along the cross-axis: here, the y axis - standard flex */
	justify-content: space-between; /* Pushes children to opposite sides */
}
.myNavFull ul {
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	margin: 0;
}
.myNavFull ul > li {
	letter-spacing: 0.2rem;
}
